div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            ul#global-nav.nav.pull-left
                a(href='#').brand Little Boat Dreams
                a(href='/about').brand About
                a(href='/browse').brand Browse Tags
                a(href='/collections').brand My Collections
                a(href='/contact').brand Contact Us
            button#btn-logout.btn.btn-primary
                i.icon-lock.icon-white
                | Sign Out